{{#each this}}
<li class="gallery_item">
   <div class="photo-card">
<a href="{{largeImageURL}}" class="gallery_link">
    <img src="{{webformatURL}}" alt="{{tags}}" width="370px" height="250px" class="gallery_image" data-sourse="{{largeImageURL}}"/>
</a>
    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
            likes
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
            views
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
            comments
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
            downloads
        </p>
    </div>
</div>
</li>
{{/each}}